#quote {
    position:absolute;
    top: 50%;
    left: 50%;
    width:50em;
    height:24em;
    margin-top: -12em; /*set to a negative number 1/2 of your height*/
    margin-left: -25em; /*set to a negative number 1/2 of your width*/
    border: 1px solid #ccc;
    background-color: #f3f3f3;
}
button {
  position:absolute;
  top: 92%;
  left: 74%;
  width:10em;
  height:2em;
}

#quote p {
  padding-top: 25%;
}
