body {
  background-color: black;
}

#quote {
  margin-right: auto;
  height: 70vh;
  background-color: black;
  margin-top: 10vh;
  margin-bottom: -5vh;
  border: 1vh solid white;
}

button {
  position: relative;
  display:block;
  margin:0 auto;
  font-weight: 700;
  height: 10vh;
  width: 100px;
  background-color: white;
  color: black;
  border: none;
  text-align: center;

}

#quote p {
  color: #fff;
  padding-top: 8vh;
  font-size: 4vw;
}

#quote p > i {
}
